body{
  background-color: #F5F5F5;
}
.search-input{
  margin-top: 60px;
  width: 100%;
}
.container-fluid{
  background-color: transparent;
  padding-bottom: 39px;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.search-area{
  margin-top: calc( 50vh - 188px);
}
.search-result{
  padding-top: 170px;
}
.result-block{
  background-color: #FCFCFC;
  height: 85px;
  margin-top: 20px;
}
.song-rating{
  width: 85px;
  line-height: 85px;
  text-align: center;
  float: left;
  margin-top: 0px;
}
.split-line{
  height: 65px;
  width: 2px;
  background-color: gray;
  margin-top: 10px;
  float: left;
}
.square-img{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-top: 17.5px;
  float: left;
  margin-left: 25px;
  margin-right: 20px;
}
.song-info{
  padding-top: 10px;
}
.song-info p{
  line-height: 10px;
}
.song-right{
  float: right;
  width: 120px;
  height: 85px;
  line-height: 85px;
}
.song-rating-change{
  font-size: 21px;
}
.song-add{
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  background-image: url(/public/image/add_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
