<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/public/index.css">
    <script src="/public/index.js"></script>
  </head>
  <body>
      <p><%= JSON.stringify(body) %></p>
  </body>
  <script>

  </script>
</html>
